@function cola-sum($list, $root: null) {
  $result: 0;

  @each $item in $list {
    @if type-of($item) == list and $root != 'root' {
      $result: $result + cola-sum($item);
    }
    @else if type-of($item) == number {
      $result: $result + $item;
    }
    // SHOULD I ERROR HERE?
    // Something like "item is not a number for cola-sum"
  }

  @return $result;
}

// 9
// @debug cola-sum(3 3 3);

// 15
// 6
// @debug cola-sum(3 (3 (3 3)) 3);
// @debug cola-sum(3 (3 (3 3)) 3, 'root');
