@function cola-map-get($map, $keys) {
  $result: null;

  @each $key in $keys {
    @if $result {
      $result: $result map-get($map, $key);
    }
    @else {
      $result: map-get($map, $key);
    }
  }

  @return $result;
}
