@function cola-get-root($list, $indexes) {
  $result: ();

  @each $index in $indexes {
    $result: append($result, nth($list, $index));
  }

  @return $result;
}

@function cola-get-root-multiple($list, $indexes) {
  $result: ();

  @each $index in $indexes {
    $result: append($result, cola-get-root($list, $index));
  }

  @return $result;
}

@function cola-get-nested($list, $indexes) {
  @each $index in $indexes {
    $list: nth($list, $index);
  }

  @return $list;
}

@function cola-get-nested-multiple($list, $indexes) {
  $result: ();

  @each $index in $indexes {
    $result: append($result, cola-get-nested($list, $index));
  }

  @return $result;
}

@function cola-get($list, $indexes, $root: null) {
  @if $root == 'root' {
    @if length(nth($indexes, 1)) > 1 {
      @return cola-get-root-multiple($list, $indexes);
    }

    @return cola-get-root($list, $indexes);
  }
  // else error?

  @if length(nth($indexes, 1)) > 1 {
    @return cola-get-nested-multiple($list, $indexes);
  }

  @return cola-get-nested($list, $indexes);
}
