// merge these together

@function cola-join($list, $value, $seperator: auto) {
  $result: join($list, $value, $seperator);

  @if length($result) == 1 {
    $result: nth($result, 1);
  }

  @return $result;
}

@function cola-append($list, $value, $seperator: auto) {
  $result: append($list, $value, $seperator);

  @if length($result) == 1 {
    $result: nth($result, 1);
  }

  @return $result;
}

// list
// list
$test-list: (1);
@debug type-of(cola-join($test-list, 2));
@debug type-of(cola-append($test-list, 2));

// list
// list
// number
// number
$test-list: ();
@debug type-of(join($test-list, 1));
@debug type-of(append($test-list, 1));
@debug type-of(cola-join($test-list, 1));
@debug type-of(cola-append($test-list, 1));


// temporary function
// use the functions above or go with the function below...

@function cola-get($list) {
  @if length($list) == 1 {
    @return nth($list, 1);
  }

  @return $list;
}

@debug cola-get(1);
@debug cola-get(1 2);

@debug type-of(cola-get(1));
@debug type-of(cola-get(1 2));
