// needs a better name?
@function cola-longest-shortest($size, $lists) {
  $results: null;

  @for $i from 1 through length($lists) {
    $list: nth($lists, $i);
    $length: length($list);

    @if $results == null {
      $results: (index: $i, length: $length);
    }

    // merge these together better
    @else if $size == 'longest' {
      @if $length > map-get($results, length) {
        $results: (index: $i, length: $length);
      }

      // these chucnks are identical
      @else if $length == map-get($results, length) {
        $results: map-merge($results, (index: join(map-get($results, index), $i, comma)));
      }
    }

    @else if $size == 'shortest' {
      @if $length < map-get($results, length) {
        $results: (index: $i, length: $length);
      }

      // these chucnks are identical
      @else if $length == map-get($results, length) {
        $results: map-merge($results, (index: join(map-get($results, index), $i, comma)));
      }
    }
  }

  @return $results;
}

@function cola-longest($list) {
  @return cola-longest-shortest('longest', $list);
}

@function cola-shortest($list) {
  @return cola-longest-shortest('shortest', $list);
}

// (index: 1, length: 4)
// (index: (1, 4), length: 4)
// @debug cola-longest( (1 2 3 4) (1 (2 3)) (1 2 3) );
// @debug cola-longest( (1 2 3 4) (1 (2 3)) (1 2 3) (1 2 3 4) );

// (index: 2, length: 2)
// (index: (2, 4), length: 2)
// @debug cola-shortest( (1 2 3 4) (1 (2 3)) (1 2 3) );
// @debug cola-shortest( (1 2 3 4) (1 (2 3)) (1 2 3) (1 2) );
