@function cola-list-get($list, $indexes) {
  $result: ();

  @each $index in $indexes {
    $result: append($result, nth($list, $index));
  }

  @return $result;
}

// (345 (435 2345)) 31 345
// $list: (55 54 3 2 32) 31 (345 (435 2345)) 345 (42 4 45) 34;
// @debug cola-list-get($list, 3 2 4);

@function cola-list-get-nested($indexes, $list) {
  @each $index in $indexes {
    $list: nth($list, $index);
  }

  @return $list;
}

// 2345
// $list: (55 54 3 2 32) 31 (345 (435 2345)) 345 (42 4 45) 34;
// @debug cola-list-get-nested($list, 3 2 2);
