// @function split($string, $separator) {
//   $result: ();
//   $index: str-index($string, $separator);
//
//   @if $index {
//     $result: str-slice($string, 1, $index - 1);
//     $after: str-slice($string, $index + 1);
//
//     @if str-index($after, $separator) {
//       $result: join($result, split($after, $separator));
//     }
//     @else {
//       $result: join($result, $after);
//     }
//   }
//   @else {
//     $result: $string;
//   }
//
//   @return $result;
// }

@function split($string, $separator) {
  $result: ();
  $last: 0;

  @for $i from 1 through str-length($string) {
    @debug str-slice($string, $i, $i);

    $end: $i + str-length($separator);

    @if str-slice($string, $i, $i) == $separator or $i == str-length($string) {
      $result: join($result, str-slice($string, $last, $i));
      $last: $end;
    }
  }

  @return $result;
}

// @debug split('one, two,  three,   four,    five', ',');
// @debug split('one,two,three,four,five', ',');
// @debug split('one', ',');
