$cola-trim-left-test: (
  'cola-trim-left': (
    test: cola-trim-left('.....hello', '.'),
    return: hello
  ),
  'cola-trim-left empty': (
    test: cola-trim-left('..........', '.'),
    return: ''
  )
);

@debug cart($cola-trim-left-test);
