$cola-trim-test: (
  'cola-trim': (
    test: cola-trim('.....hello.....', '.'),
    return: hello
  ),
  'cola-trim empty': (
    test: cola-trim('..........', '.'),
    return: ''
  )
);

@debug cart($cola-trim-test);
