$cola-trim-right-test: (
  'cola-trim-right': (
    test: cola-trim-right('hello.....', '.'),
    return: hello
  ),
  'cola-trim-right empty': (
    test: cola-trim-right('..........', '.'),
    return: ''
  )
);

@debug cart($cola-trim-right-test);
