$cola-test-contains-only: (
  'only 1': (
    test: cola-contains-only(1 2 3 4, 1),
    return: false
  ),
  'only 2': (
    test: cola-contains-only(1 1 1 1, 1),
    return: true
  ),
  'only 3': (
    test: cola-contains-only(1, 1 2 3 4),
    return: true
  ),
  'only 4': (
    test: cola-contains-only(1 2 3 4, 1 2 3),
    return: false
  ),
  'only 5': (
    test: cola-contains-only(1 2 3 4, 1 2 3 4),
    return: true
  ),
  'only 6': (
    test: cola-contains-only(1 2 3 4, 1 2 3 5),
    return: false
  ),
  'only 7': (
    test: cola-contains-only(1 2 3 4, 5 6 7 8),
    return: false
  )
);

@debug cart($cola-test-contains-only);
